.fileinput .fileinput-preview {
    width: 200px;
    height: 150px;
    position: relative;
}

.fileinput .thumbnail {
    overflow: hidden;
    display: inline-block;
    margin-bottom: 5px;
    vertical-align: middle;
    text-align: center;
}

.fileinput .thumbnail > img {
    max-height: 100%;
}

.fileinput-exists .fileinput-new,
.fileinput-new .fileinput-exists {
    display: none;
}

[v-cloak] .v-cloak--block {
    display: block;
}

[v-cloak] .v-cloak--inline {
    display: inline;
}

[v-cloak] .v-cloak--inlineBlock {
    display: inline-block;
}

[v-cloak] .v-cloak--hidden {
    display: none;
}

[v-cloak] .v-cloak--invisible {
    visibility: hidden;
}

.v-cloak--block,
.v-cloak--inline,
.v-cloak--inlineBlock {
    display: none;
}

/************ PACE PROGRESS **************/

body {
    background-color: #d73925;
}

.pace .pace-progress {
    background: #ffffff;
}

body > *:not(.pace), body:before, body:after {
    -webkit-transition: opacity .4s ease-in-out;
    -moz-transition: opacity .4s ease-in-out;
    -o-transition: opacity .4s ease-in-out;
    -ms-transition: opacity .4s ease-in-out;
    transition: opacity .4s ease-in-out;
}

body:not(.pace-done) > *:not(.pace), body:not(.pace-done):before, body:not(.pace-done):after {
    opacity: 0
}

/**************** END PACE ****************/