<section id="blog" class="section section-center section-features">
  <div class="container">
    <h1 class="section-title"><span>Latest posts from our blog</span></h1>
    <div class="row wow bounceInUp text-left">
      <div class="col-md-12 text-center">
        <p style="margin-bottom: 2rem;">Check out our latest articles and insights on software development.</p>
      </div>
    </div>
    <a href="http://blog.coffeedevs.com/" class="btn btn-primary" target="_blank" rel="noopener noreferrer">
      Visit the Blog!
    </a>
  </div>
</section>
