<section id="contact" class="section section-center section-contact">
  <div class="container">
    <h1 class="section-title">
      <span id="span-consulta">Send us your questions!</span>
    </h1>
    <div class="row">
      <div class="elegir-contacto col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
        We'll answer right away!
      </div>
    </div>
    <div class="contacto-simple" id="contacto-simple">
      <div class="main-action" style="margin-top: 2rem;">
        <a
          href="mailto:contact@coffeedevs.com?subject=Project%20Inquiry"
          class="btn btn-primary btn-lg"
          style="font-size: 1.2rem; padding: 1rem 2.5rem;"
        >
          Talk to us
        </a>
        <p style="margin-top: 1.5rem; color: #666;">
          Click the button above to send us an email
        </p>
      </div>
    </div>
  </div>
</section>
