<section id="features" class="section section-center section-features">
  <div class="container">
    <h1 class="section-title"><span>What we do</span></h1>

    <div class="row wow fadeInUp text-left">
      <div class="col-md-4">
        <div class="service">
          <div class="service-icon">
            <i class="icon icon-home-service-custom-development"></i>
          </div>
          <h2>Custom Software Development</h2>
          <p>
            Whether you are a start-up or an established business, we are ready to assist you at every stage of the software development life cycle — from
            conceptualization and consulting to development and support.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service">
          <div class="service-icon">
            <i class="icon icon-home-service-web-development"></i>
          </div>
          <h2>Web Application Development</h2>
          <p>
            Our software engineers have a wealth of experience in building web applications. We are also experts in many verticals and business domains, including
            e-Commerce, e-Learning, AdTech, Finance, Entertainment, and more.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service">
          <div class="service-icon">
            <i class="icon icon-home-service-mobile-development"></i>
          </div>
          <h2>Mobile Application Development</h2>
          <p>
            Develop powerful, highly usable mobile apps that solve business problems, attract users, and rein­force your brand. We build native, hybrid, and
            cross-platform apps that run on all major operating systems such as iOS and Android.
          </p>
        </div>
      </div>
    </div>

    <a href="#contact" class="btn btn-primary ui-btn-lg smooth-scroll" style="margin:2rem 0;">
      Email us today
    </a>
  </div>
</section>
